.haderflexpay {
	background: #fff;
	border-bottom: 1px solid #d1d1d1;
	width: 100%;
	float: left;
	padding-bottom: 4px;
	padding-top: 4px;
	margin-bottom: 10px;
}

.wright-iconbg {
	background: #fff;
	width: 100%;
	float: left;
	padding-bottom: 50px;
	padding-top: 50px;
}

.wright-icon {
	font-size: 40px;
	color: #000000;
	padding-top: 20px;
}

.wright-image {
	width: 100%;
	background: url(../img/bg.png) no-repeat;
	background-size: cover;
	float: left;
	padding-bottom: 20px;
	padding-top: 50px;
}

.handset {
	width: 100%;
	text-align: center;
}

.security {
	font-size: 30px;
	color: #ffffff;
	padding-top: 30px;
	padding-bottom: 15px;
}

.factor-text {
	font-size: 18px;
	color: #ffffff;
	padding-bottom: 50px;
}

.readmore {
	display: inline-block;
	border: solid #ffffff 2px;
	border-radius: 4px;
	padding: 9px 21px 8px 20px;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none !important;
	margin-bottom: 15px;
}

.readmore a {
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
}

.downloadbg {
	background: #ffffff;
	width: 100%;
	float: left;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}

.downloadbg-text {
	font-size: 30px;
	color: #000000;
	text-align: center;
	padding-bottom: 30px;
}

.get-app {
	display: inline-block;
	border: solid #d3d3d3 2px;
	border-radius: 4px;
	padding: 4px 25px 4px 26px;
	font-size: 24px;
	color: #000000;
	text-decoration: none !important;
	margin-bottom: 15px;
}

.get-app a {
	font-size: 18px;
	color: #000000;
	text-decoration: none;
}

.footerbg {
	background: #ededed;
	width: 100%;
	float: left;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
}

.menu {
	font-size: 16px;
	color: #828282;
	text-decoration: none;
}

.menu a {
	font-size: 17px;
	color: #828282;
	padding-right: 8px;
	padding-left: 8px;
	text-decoration: none;
}

.menu a:hover {
	color: #1c84f4;
}

.social-icon {
	text-align: center;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 30px;
}

.reserved {
	font-size: 18px;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	color: #828282;
}

.loginbg-dollor {
	width: 100%;
	float: left;
	background-color: #000000;
	height: 100% !important;
}

.loginbg-dollor-text {
	font-size: 34px;
	color: #ffffff;
	margin-top: 150px;
	padding-bottom: 15px;
}

.loginbg-dollor-discrition {
	font-size: 18px;
	color: #ffffff;
	padding-bottom: 60px;
}

.loginbg-dollor-footer {
	background: #222222;
	width: 100%;
	float: left;
	padding-top: 30px;
	padding-bottom: 30px;
	font-size: 14px;
	color: #777777;
	text-align: center;
	clear: both !important;
}

.login-text-title {
	margin-top: 50px;
	text-align: center;
	padding-bottom: 20px;
	color: #ffffff;
}

.hadertop-login {
	background: url(../img/street-blur.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	float: left;
	padding-top: 60px;
}

.slider-box {
	padding-top: 40px;
}

.slider {
	margin: 0 auto;
	width: 290px;
}

.imagesright {
	margin-top: 50px;
	width: 100%;
	text-align: center;
}

.slider-main {
	padding-top: 20px;
	margin-bottom: 30px;
}

.logo-form {
	text-decoration: none;
	color: #333333;
	margin-bottom: 30px;
}

.logo-form input {
	background: #f6f6f6;
	width: 100%;
	color: #333333;
	font-size: 17px;
	text-decoration: none;
	border: solid #d1d1d1 1px;
	border-radius: 2px;
	padding: 9px 10px 8px 9px;
}

.logo-submit {
	width: 100%;
	background: #3E98F6;
	color: #ffffff;
	font-size: 24px;
	text-align: center;
	padding: 9px 10px 8px 9px;
	border: none;
	border-radius: 3px;
	margin-bottom: 160px;
	border-bottom: solid #1778de 3px;
}

.slidertext {
	font-size: 17px;
	color: #ffffff;
	text-align: left;
	padding-bottom: 40px;
}

.carousel {
	position: relative;
	width: 345px;
	min-width: 100%;
}

@media (min-width: 300px) {
	.carousel {
		width: 260px !important;
		margin: auto;
	}
}

/* extra css for members login page */
.hadertop-bg {
	background: #3e98f6;
	width: 100%;
	float: left;
	padding-bottom: 10px;
	padding-top: 10px;
}

.logo {
	font-family: verdana;
	font-size: 300%;
}

@media (min-width: 300px) and (max-width: 768px) {
	.loginbg-dollor {
		background-color: #000000;
		min-height: 900px;
	}
}




